# Ignorar carpeta de compilación SAM
.aws-sam/

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
dist/
build/
.cache/

# Python (if used)
__pycache__/
*.pyc

# Env
.env
*.env

# OS
.DS_Store
Thumbs.db
